OPENAI_API_KEY=your-key-here
LANGSMITH_TRACING="true" // Optional
LANGSMITH_ENDPOINT="<YOUR_LANGSMITH_ENDPOINT>" // Optional
LANGSMITH_API_KEY="<YOUR_LANGSMITH_API_KEY>" // Optional
LANGSMITH_PROJECT="<YOUR_LANGSMITH_PROJECT>" // Optional